<section class="auth-page-wrapper py-5 position-relative d-flex align-items-center justify-content-center min-vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <div class="card mb-0">
                    <div class="row g-0 align-items-center">
                        <div class="col-xxl-5">
                            <div class="card auth-card bg-secondary h-100 border-0 shadow-none d-none d-sm-block mb-0">
                                <div class="card-body py-5 d-flex justify-content-between flex-column h-100">
                                    <div class="text-center">
                                        <h3 class="text-white">Start your journey with us.</h3>
                                        <p class="text-white opacity-75 fs-base">It brings together your tasks, projects, timelines, files and more</p>
                                    </div>

                                    <div class="auth-effect-main my-5 position-relative rounded-circle d-flex align-items-center justify-content-center mx-auto">
                                        <div class="effect-circle-1 position-relative mx-auto rounded-circle d-flex align-items-center justify-content-center">
                                            <div class="effect-circle-2 position-relative mx-auto rounded-circle d-flex align-items-center justify-content-center">
                                                <div class="effect-circle-3 mx-auto rounded-circle position-relative text-white fs-4xl d-flex align-items-center justify-content-center">
                                                    Welcome to <span class="text-primary ms-1">Outdoors</span>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="auth-user-list list-unstyled">
                                            <li>
                                                <div class="avatar-sm d-inline-block">
                                                    <div class="avatar-title bg-white shadow-lg overflow-hidden rounded-circle">
                                                        <img src="assets/images/users/avatar-1.jpg" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="avatar-sm d-inline-block">
                                                    <div class="avatar-title bg-white shadow-lg overflow-hidden rounded-circle">
                                                        <img src="assets/images/users/48/avatar-2.jpg" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="avatar-sm d-inline-block">
                                                    <div class="avatar-title bg-white shadow-lg overflow-hidden rounded-circle">
                                                        <img src="assets/images/users/avatar-3.jpg" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="avatar-sm d-inline-block">
                                                    <div class="avatar-title bg-white shadow-lg overflow-hidden rounded-circle">
                                                        <img src="assets/images/users/avatar-4.jpg" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="avatar-sm d-inline-block">
                                                    <div class="avatar-title bg-white shadow-lg overflow-hidden rounded-circle">
                                                        <img src="assets/images/users/avatar-5.jpg" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="text-center">
                                        <p class="text-white opacity-75 mb-0 mt-3">
                                            &copy;
                                            {{year}} Steex. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-xxl-6 mx-auto">
                            <div class="card mb-0 border-0 shadow-none mb-0">
                                <div class="card-body p-sm-5 m-lg-4">
                                    <div class="text-center mt-2">
                                        <h5 class="fs-3xl">Create your free account</h5>
                                        <p class="text-muted">Get your free Outdoors account now</p>
                                    </div>
                                    <div class="p-2 mt-5">
                                     <!-- registration.component.html -->
                                     <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
                                        <!-- Email -->
                                        <div class="mb-3">
                                          <label for="useremail" class="form-label">Email <span class="text-danger">*</span></label>
                                          <input type="email" formControlName="email" class="form-control" id="useremail" placeholder="Enter email address" required>
                                          <div>
                                            <p class="alert alert-danger" *ngIf="registrationForm.controls['email'].hasError('required') && registrationForm.controls['email'].touched">
                                              Email is required
                                            </p>
                                            <p class="alert alert-danger" *ngIf="registrationForm.controls['email'].hasError('email') && registrationForm.controls['email'].touched">
                                              Please enter a valid email
                                            </p>
                                            <p *ngIf="emailError" class="text-danger">
                                              {{ emailError }}
                                            </p>
                                          </div>
                                        </div>
                                      
                                        <!-- First Name (Prenom) -->
                                        <div class="mb-3">
                                          <label for="prenom" class="form-label">First Name <span class="text-danger">*</span></label>
                                          <input type="text" formControlName="prenom" class="form-control" id="prenom" placeholder="Enter first name" required>
                                          <div>
                                            <p class="alert alert-danger" *ngIf="registrationForm.controls['prenom'].hasError('required') && registrationForm.controls['prenom'].touched">
                                              First name is required
                                            </p>
                                          </div>
                                        </div>
                                      
                                        <!-- Last Name (Nom) -->
                                        <div class="mb-3">
                                          <label for="username" class="form-label">Last Name <span class="text-danger">*</span></label>
                                          <input type="text" formControlName="nom" class="form-control" id="username" placeholder="Enter last name" required>
                                          <div>
                                            <p class="alert alert-danger" *ngIf="registrationForm.controls['nom'].hasError('required') && registrationForm.controls['nom'].touched">
                                              Last name is required
                                            </p>
                                          </div>
                                        </div>
                                      
                                        <!-- Password -->
                                        <div class="mb-3">
                                          <label class="form-label" for="password-input">Password <span class="text-danger">*</span></label>
                                          <div class="position-relative auth-pass-inputgroup">
                                            <input [type]="fieldTextType ? 'text' : 'password'" formControlName="motDePasse" class="form-control password-input pe-5" id="password-input" placeholder="Enter password" required>
                                            <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" (click)="toggleFieldTextType()">
                                              <i class="ri-eye-fill align-middle" [ngClass]="{'mdi-eye-off-outline': !fieldTextType, 'mdi-eye-outline': fieldTextType}"></i>
                                            </button>
                                            <div>
                                              <p class="alert alert-danger" *ngIf="registrationForm.controls['motDePasse'].hasError('required') && registrationForm.controls['motDePasse'].touched">
                                                Password is required
                                              </p>
                                              <p class="alert alert-danger" *ngIf="registrationForm.controls['motDePasse'].hasError('minlength') && registrationForm.controls['motDePasse'].touched">
                                                Password must be at least 8 characters long
                                              </p>
                                              <p class="alert alert-danger" *ngIf="registrationForm.controls['motDePasse'].hasError('pattern') && registrationForm.controls['motDePasse'].touched">
                                                Password must contain at least one uppercase letter, one lowercase letter, and one digit
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      
                                        <!-- Date of Birth -->
                                        <div class="mb-3">
                                          <label for="dateNaissance" class="form-label">Date of Birth</label>
                                          <input type="date" formControlName="dateNaissance" class="form-control" id="dateNaissance" required>
                                          <div>
                                            <p class="alert alert-danger" *ngIf="registrationForm.controls['dateNaissance'].hasError('required') && registrationForm.controls['dateNaissance'].touched">
                                              Date of birth is required
                                            </p>
                                            <p class="alert alert-danger" *ngIf="registrationForm.controls['dateNaissance'].hasError('dateInThePast') && registrationForm.controls['dateNaissance'].touched">
                                              Date of birth must be in the past
                                            </p>
                                          </div>
                                        </div>
                                      
                                        <!-- Image File Upload -->
                                        <div class="mb-3">
                                          <label for="image" class="form-label">Profile Image</label>
                                          <input type="file" (change)="onFileChange($event)" class="form-control" id="image" accept="image/*">
                                          <div>
                                            <p class="alert alert-danger" *ngIf="imageError">{{ imageError }}</p>
                                          </div>
                                        </div>

                                      
                                        <!-- Phone -->
                                        <div class="mb-3">
                                          <label for="tel" class="form-label">Phone Number</label>
                                          <input type="text" formControlName="tel" class="form-control" id="tel" placeholder="Enter phone number">
                                          <div>
                                            <p class="alert alert-danger" *ngIf="registrationForm.controls['tel'].hasError('required') && registrationForm.controls['tel'].touched">
                                              Phone number is required
                                            </p>
                                            <p class="alert alert-danger" *ngIf="registrationForm.controls['tel'].hasError('pattern') && registrationForm.controls['tel'].touched">
                                              Please enter a valid phone number
                                            </p>
                                          </div>
                                        </div>
                                        <!-- Role Dropdown -->
                                        <div class="form-group">
                                          <label for="role">Role</label>
                                          <select id="role" class="form-control" formControlName="role">
                                            <option value="USER">User</option>
                                            <option value="AGENCE">Agence</option>
                                            <option value="OWNER">Owner</option>
                                            <option value="FORMATEUR">Formateur</option>
                                            <option value="EVENT_MANAGER">Event Manager</option>
                                            <option value="LIVREUR">Livreur</option>
                                          </select>
                                        </div>

                                        <!-- Location Field, only show if role is AGENT -->
                                        <div class="mb-3">
                                        <div class="form-group" *ngIf="registrationForm.get('role')?.value === 'AGENCE'">
                                          <label for="location">Location</label>
                                          <input id="location" class="form-control" formControlName="location" />
                                        </div>
                                        </div>
                                      
                                        <!-- Submit Button -->
                                        <div class="mt-4">
                                          <button class="btn btn-primary w-100" type="submit" >Sign Up</button>
                                        </div>
                                      </form>
                                    </div>
                                    <div class="mt-4 text-center">
                                        <p class="mb-0">Already have an account ? <a routerLink="/auth/signin" class="fw-semibold text-primary text-decoration-underline"> Signin </a> </p>
                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>